<div class="space-y-6">
  <h2 class="text-2xl font-semibold">Configuración de APIs</h2>
  <app-modal [(visible)]="showAddModal" header="Agregar Nuevo Token">
    <app-add-api-token
      (created)="onTokenCreated($event)"
      (cancel)="closeAddModal()"
    >
    </app-add-api-token>
  </app-modal>
  <div class="p-6 bg-white rounded-xl shadow-sm">
    <div class="mb-6 flex items-center justify-between w-full">
      <div class="space-y-1">
        <h2 class="text-lg font-semibold text-gray-800">Tokens Configurados</h2>
        <p class="text-sm text-gray-500">
          Lista de servicios y tokens configurados en el sistema
        </p>
      </div>
      <button
        class="inline-flex items-center gap-2 px-4 py-2 bg-indigo-700 rounded-lg hover:bg-indigo-800 transition-colors duration-200 font-medium text-white text-sm"
        (click)="openAddModal()"
      >
        <i class="pi pi-plus text-sm"></i>
        Agregar token
      </button>
    </div>
    <div class="relative overflow-hidden">
      <div
        *ngIf="isLoading"
        class="absolute inset-0 bg-white/60 bg-opacity-20 flex items-center justify-center z-10"
      >
        <p-progressSpinner></p-progressSpinner>
      </div>
      <p-table
        [value]="tokens"
        dataKey="id"
        [resizableColumns]="false"
        [rows]="10"
        [expandedRowKeys]="expandedRows"
        [loading]="isInit"
        [showLoader]="false"
        styleClass="p-datatable-sm"
      >
        <!-- Cabecera de columnas -->
        <ng-template #header>
          <tr>
            <th
              class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Servicio
            </th>
            <th
              class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Estado
            </th>
            <th
              class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Última modificación
            </th>
            <th
              class="p-4 text-right text-xs font-medium text-gray-500 uppercase tracking-wider flex justify-center"
            >
              Acciones
            </th>
          </tr>
        </ng-template>

        <ng-template #loadingbody>
          <tr *ngFor="let i of [1, 2, 3, 4, 5]" class="border-b">
            <td class="p-4">
              <p-skeleton width="6rem"></p-skeleton>
            </td>

            <td class="p-4">
              <p-skeleton width="6rem"></p-skeleton>
            </td>

            <td class="p-4">
              <p-skeleton width="6rem"></p-skeleton>
            </td>

            <td class="p-4">
              <div class="flex items-center space-x-2">
                <p-skeleton shape="circle" size="1.5rem"></p-skeleton>
                <p-skeleton shape="circle" size="1.5rem"></p-skeleton>
                <p-skeleton shape="circle" size="1.5rem"></p-skeleton>
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- Cuerpo de filas -->
        <ng-template #body let-token let-expanded="expanded">
          <app-api-token-row
            [token]="token"
            [expanded]="expanded"
            (edit)="onEdit($event)"
            (delete)="onDelete($event)"
            (toggleExpand)="expandedRows[token.id] = !expandedRows[token.id]"
          ></app-api-token-row>
        </ng-template>

        <!-- Template para el contenido expandido -->
        <ng-template #expandedrow let-token>
          <app-api-token-details
            [token]="token"
            [isEditing]="isEditing[token.id]"
            (copy)="copyToClipboard($event)"
            (save)="saveToken(token)"
            (cancel)="cancelEdit(token)"
          ></app-api-token-details>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-toast></p-toast>
