<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="space-y-4">

    <!-- Selección de servicio -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Servicio</label>
      <p-select
        [options]="servicios"
        formControlName="integrationServiceId"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Selecciona un servicio"
        class="w-full"
      ></p-select>
      <p 
        *ngIf="submitted && form.get('integrationServiceId')?.hasError('required')" 
        class="mt-1 text-sm text-red-500">
        Debes seleccionar un servicio.
      </p>
    </div>

    <!-- API Key / Webhook URL -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        {{ getSelectedServiceName() === 'Plane.so' ? 'API Key' : 'Webhook URL' }}
      </label>
      <input
        pInputText
        type="text"
        formControlName="apiKey"
        class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-indigo-300"
      />
      <p 
        *ngIf="submitted && form.get('apiKey')?.hasError('required')" 
        class="mt-1 text-sm text-red-500">
        Este campo es obligatorio.
      </p>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">
        Url de tu instancia
      </label>
      <input
        pInputText
        type="text"
        formControlName="serverUrl"
        class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-indigo-300"
      />
      <p 
        *ngIf="submitted && form.get('serverUrl')?.hasError('required')"
        class="mt-1 text-sm text-red-500">
        Este campo es obligatorio.
      </p>
    </div>

    <!-- Descripción -->
    <div>
      <label class="block text-sm font-medium text-gray-700">Descripción</label>
      <input
        pInputText
        type="text"
        formControlName="descripcion"
        class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-indigo-300"
      />
      <p 
        *ngIf="submitted && form.get('descripcion')?.hasError('required')"
        class="mt-1 text-sm text-red-500">
        Este campo es obligatorio.
      </p>
    </div>

    <!-- Botones -->
    <div class="flex justify-end space-x-2 pt-4">
      <button
        pButton
        type="button"
        severity="danger"
        label="Cancelar"
        class="p-button-text"
        (click)="onCancel()"
      ></button>
      <button
        pButton
        type="submit"
        label="Guardar"
        severity="info"
        class="p-button-text"
      ></button>
    </div>
  </div>
</form>
